@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

@mixin flexCenter ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin backImage ($repeat, $position, $size) {
    background-position: $position; 
    background-repeat: $repeat; 
    background-size: $size
}

$principal-color: #967aa1;
$secondary-color: #aaa1c8; 
$light-color: #f6f6f6; 
$dark-color: #192a51; 
$golden: #DAA520; 
$black: #000; 
$white: #FFF; 
$titles-font: "Roboto Mono", monospace; 
$paragraph-font: "Roboto", sans-serif;
$quote-font: "Courgette", cursive; 


html {
    /*Fondo del html*/
    background-color: $light-color;
}

body {
    /*Estilo general para todas las cajas*/
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    header {
        /*Estilos generales para el header de todos los tamaños*/
        background-color: $principal-color;
        width: 100vw;
        height: fit-content;
        position: fixed;
        top: 0;
        z-index: 1000;
        nav {
            /*Estilos generales para el nav de todos los tamaños*/
            @include flexCenter(row,space-between,center); 
            padding: 20px 40px;
            .web-logo {
                span {
                    /*Implementación logo con background de un span*/
                    display: flex;
                    background-image: url('../assets/logo_mujeres_rectangular.jpg');
                    @include backImage(no-repeat,center,cover); 
                    cursor: pointer;
                }
            }
            div {
                /*Estilos generales del div contenedor de los botones de navegación*/
                padding: 0 8px;
                button {
                    /*Estilos generales de los botones de navegación*/
                    font-family: $titles-font;
                    font-weight: bolder;
                    font-size: 16px;
                    padding: 4px 8px;
                    border-radius: 12px;
                    border: none;
                    margin-left: 4px;
                    background-color: $light-color;
                    cursor: pointer;
                    &:hover {
                        background-color: $dark-color;
                        color: $light-color;
                    }
                }
                .selected {
                    background-color: $dark-color;
                    color: $light-color;
                }
            }
            #toggle {
                /*Ocultación del componente que permite el menu hamburguesa con CSS para pantallas que no son mobile*/
                display: none;
            }
            
            label[for="toggle"] {
                display: none;
            }
        }  
    }
    main {
        padding: 10px 20px;
        h1 {
            /*Estilos de todos los titulos de cada página*/
            margin-top: 20px;
            font-family: $titles-font;
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
            color: $dark-color;
        }
        h2 {
            /*Estilos de todos los subtitulos de cada página*/
            font-family: $titles-font;
            font-size: 26px;
            font-weight: 600;
            text-align: center;
            color: $principal-color; 
        }
        h3 {
            /*Estilos de todos los subtitulos secundarios de cada página*/
            font-family: $titles-font;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            color: $secondary-color; 
        }
        ul {
            li {
                margin-bottom: 20px; /* Espacio entre cada elemento */
                line-height: 1.6; /* Altura de línea */
                font-family: $paragraph-font;
                font-size: 22px;
                overflow-wrap: break-word; /*Para que los links no generen un overflow horizontal*/ 
                strong {
                    /* Estilos para los nombres */
                    font-weight: bold; /* Negrita */
                    font-family: $paragraph-font;
                    font-size: 22px;
                    text-align: left;
                }
            }
        }
        p {
            font-family: $paragraph-font;
            font-size: 22px;
            font-weight: 400;
            text-align: justify;
        }
        .introduction {
            @include flexCenter(column,start,center);
            flex-wrap: wrap; 
            img {
                width: 90%;
                margin-bottom: 16px;
            }
        }
        .women-container {
            .gallery-container {
                /*Galeria de mujeres con scroll horizontal*/
                width: 100%;
                height: 360px;
                overflow-x: scroll;
                scroll-behavior: contain;
                scroll-snap-type: x proximity;
                white-space: nowrap; 
                @include flexCenter(row,space-between,start);
                .gallery-item {
                    /*Estilos para cuadro de cada mujer*/
                    @include flexCenter(column,start,center);
                    scroll-snap-align: center;
                    width: 270px ;
                    height: 320px;
                    padding: 8px 8px 2px 8px;
                    margin: 0 20px;
                    border: 8px solid $golden; /* Borde dorado para simular cuadro*/
                    border-radius: 20px; /*Borde redondeado*/
                    text-decoration: none;
                    cursor: pointer;
                    span {
                        display: flex;
                        width: 400px;
                        height: 400px;
                        @include backImage(no-repeat,center,contain); 
                    }
                    p {
                        font-family: $titles-font;
                        font-size: 16px;
                        font-weight: 500;
                        color: black;
                        background-color: $golden;
                        padding: 2px 6px;
                        border-radius: 8px;
                        border: solid 1px black;
                    }
                }
            }
        }
        .image-container {
            display: flex;
            justify-content: center;
        }
        .hipatia {
            /*Fotos de cada mujer*/
            background-image: url('../assets/hpatia.jpeg');
        }
        .hipatia_estudiando {
            background-image: url('../assets/hipatia_estudiando.jpg');
        }       
        .hipatia_astronoma {
            background-image: url('../assets/hipatia.webp');
        }
        .hipatia_muerte {
            background-image: url('../assets/death-of-philosopher-hypatia-in-alexandria.jpeg');
        }
        .hipatia_legado {
            background-image: url('../assets/Hipatia-de-Alejandria.webp');
        }
        .ada {
            background-image: url('../assets/ada-lovelace.jpg');
        }
        .ada_2{
            background-image: url('../assets/ada_profesion.jpg');
        }
        .algoritmo{
            background-image: url('../assets/algoritmo.png');
        }
        .marie {
            background-image: url('../assets/marie-lavoisier.jpg');
        }
        .marie_antoine {
            background-image: url('../assets/marie_antoine.jpg');
        }
        .marie_divulgacion {
            background-image: url('../assets/marie_divulgacion.jpg');
        }
        .marie_muerte {
            background-image: url('../assets/marie_muerte.avif');
        }
        .emmy {
            background-image: url('../assets/emmy-noether.jpg');
        }
        .algebra {
            background-image: url('../assets/algebra.jpg');
        }
        .teorema {
            background-image: url('../assets/teorema.jpg');
        }
        .lise {
            background-image: url('../assets/retrato-de-lise-meitner.jpg');
        }
        .lise_explicando {
            background-image: url('../assets/lise_explicando.jpg');
        }
        .lise_experimentando {
            background-image: url('../assets/lise_experimentando.png');
        }
        .lise_otto {
            background-image: url('../assets/lise_otto.jpg');
        }
        .lise_elemento {
            background-image: url('../assets/lise_elemento.jpg');
        }
        .hedy {
            background-image: url('../assets/Hedy_Lamarr.jpg');
        }
        .actriz {
            background-image: url('../assets/actriz.jpg');
        }
        .inventora {
            background-image: url('../assets/inventora.jpeg');
        }
        .estrella {
            background-image: url('../assets/estrella.jpg');
        }
        .doodle {
            background-image: url('../assets/doodle.jpg');
        }
        .katy {
            background-image: url('../assets/Katherine_Johnson.jpg');
        }
        .kathy_estudiando {
            background-image: url('../assets/katherine-johnson.jpeg');
        }
        .kathy_calculando {
            background-image: url('../assets/katherine-johnson-calculando.jpg');
        }
        .kathy_reconocimiento {
            background-image: url('../assets/kathy_medalla.webp');
        }
        .rachel {
            background-image: url('../assets/rachel-carson.webp');
        }
        .rachel_investiga {
            background-image: url('../assets/rachel_investigando.jpg');
        }
        .rachel_estudia {
            background-image: url('../assets/rachel_libros.jpeg');
        }
        .rachel_reconocimiento {
            background-image: url('../assets/rachel_reconocimiento.jpg');
        }
        .rita {
            background-image: url('../assets/rita-levi-montalcini.jpg');
        }
        .rita_investiga {
            background-image: url('../assets/rita-investiga.jpg');
        }
        .rita_inspira {
            background-image: url('../assets/rita-habla.jpg');
        }
        .rita_nobel {
            background-image: url('../assets/rita-premio.jpg');
        }
        .dorothy {
            background-image: url('../assets/D.-C.-Hodgkin2.jpg');
        }
        .dorothy_2 {
            background-image: url('../assets/dorothy2.png');
        }
        .dorothy_3 {
            background-image: url('../assets/Professor_Dorothy_Hodgkin.jpg');
        }
        .dorothy_4 {
            background-image: url('../assets/dorothy-hodgkin-y-stephen-hawkings.jpg');
        }
        .cristalografia {
            background-image: url('../assets/cristalografia.png');
        }
        .alexandra {
            background-image: url('../assets/Alexandra_Olaya-Castro.jpg');
        }
        .alexandra_2{
            background-image: url('../assets/alexandra_2.jpg')
        }
        .alexandra_3{
            background-image: url('../assets/alexandra_3.avif')
        }
        .alexandra_premio {
            background-image: url('../assets/premio_alexandra.jpg')
        }
        .alexandra_educacion {
            background-image: url('../assets/alexa_educacion.jpg')
        }
        .woman-data {
            /*Formato de estilos para la pagina de cada mujer*/
            @include flexCenter(row,center,start); 
            flex-wrap: wrap;
            .quote {
                width: 100%;
                font-size: 22px;
                font-weight: 700;
                :nth-child(1) {
                    font-family: $quote-font;
                    text-align: center;
                }
                :nth-child(2){
                    text-align: center;
                }
            }
            .woman-biography {        
                p {
                    font-family: $paragraph-font;
                    font-size: 22px;
                    font-weight: 400;
                    text-align: justify;
                    color: black; 
                }    
            }
            .woman-picture {
                @include backImage(no-repeat,center, contain); 
                height: 300px;
                display: inline-block;
                margin: 0 auto;
            }
        } 

        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 8px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            transition: 0.4s;
            border-radius: 16px;
            margin-bottom: 8px;
        }
            
        .active, .accordion:hover {
            background-color: #ccc;
        }
        
        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        
        .active:after {
            content: "\2212";
        }
        
        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }
    }

    #map {
        @include flexCenter(row,center,center); 
        width: 100%;
        height: fit-content;
        #mapSpace {
            width: 50%;
            height: fit-content; 
            @include flexCenter(row,start,start); 
        }
        #mapInfo {
            width: 30%;
            height: 300px;
            padding: 10px;
            border: 1px solid $black;
            border-radius: 16px;
            font-size: 25px;
        }
    }
    
    .country {
        transition: fill 0.2s;
    }

    footer {
        /*Estilos del footer*/
        background-color: $secondary-color;
        padding: 10px 40px;
        font-family: $paragraph-font;
        color: $dark-color;
        @include flexCenter(row,space-around,center); 
        div {
            width: 30%; 
            @include flexCenter(row,space-evenly,center); 
            a {
                span {
                    width: 30px; 
                    height: 30px;
                    display: flex;
                    @include backImage(no-repeat,center,contain); 
                    cursor: pointer;
                }
                .github {
                    background-image: url('../assets/icons/github.png');
                }
                .mail {
                    background-image: url('../assets/icons/mail.png');
                }
                .instagram {
                    background-image: url('../assets/icons/instagram.png');
                }   
            }
        }
    }
}
/*Media queries para los tres breakpints, aquí va lo que requiere estilos extra para la adaptación a cada tamaño*/
/* Estilos para teléfonos celulares en sentido vertical */
@media screen and (max-width: 799px) {  
    body {
        header {
            nav {
                transition: left 0.3s ease;
                .web-logo {
                    span {
                        /*Tamaño de logo para mobile*/
                        width: 120px;
                        height: 90px;
                    }
                }
                div {
                    /*Estilos de contenedor de botones de navegacion en mobile*/
                    @include flexCenter(column,space-around,center); 
                    background-color: $white;
                    height: 250px;
                    position: fixed;
                    right: -320px;
                    top: 100px;
                    transition: left 0.3s ease;
                    button {
                        width: 100%;
                    }
                } 
                label[for="toggle"] {
                    /*Mecanismo para menu hamburguesa con CSS*/
                    display: flex;
                    color: $white;
                    background-color: $black;
                    padding: 8px;
                    cursor: pointer;
                    z-index: 999;
                }

                #toggle:checked ~ div {
                    right: 0;
                }
            }  
        }
        main {  
            width: 90%;
            margin: 120px auto 0; 
            .woman-data {
                .quote {
                    margin-bottom: 10px;
                }
                .woman-biography {
                    /*Distribucion de info de cada mujer en su pagina mobile*/
                    width: 100%;         
                }
                .woman-picture {
                    width: 45%;
                    margin: 0 auto;
                }
            } 
            #map {
                @include flexCenter(column,start,center); 
                width: 100%;
                height: fit-content;
                #mapSpace {
                    width: 50%;
                    height: fit-content; 
                    @include flexCenter(row,start,start); 
                }
                #mapInfo {
                    width: 50%;
                    height: fit-content;
                    padding: 10px;
                    border: 1px solid $black;
                    border-radius: 16px;
                    font-size: 25px;
                }
            }
        }
    }
}

/* Estilos para tabletas o portátiles sencillos (800px - 1200px de ancho) */
@media screen and (min-width: 800px) and (max-width: 1200px) {
    body {
        header {
            nav {
                /*Estilos nav tablet*/
                @include flexCenter(row,space-around,center); 
                flex-wrap: nowrap;
                .web-logo {
                    span {
                        /*Tamaño logo tablet*/
                        width: 140px;
                        height: 110px;
                    }
                }
                div {
                    /*Estilos navegacion tablet*/
                    width: 80%; 
                    display: grid;
                    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
                    grid-template-rows: repeat(2, auto); /* Dos filas de altura automática */
                    gap: 10px; /* Espacio entre los elementos */ 
                    button {
                        width: 100%;
                        height: 45px;
                        font-size: 14px;
                    }
                }
            }  
        }
        main {  
            width: 90%;
            margin: 140px auto 0; 
            .woman-data {
                .quote {
                    margin-bottom: 20px;
                }
                .woman-biography {
                    width: 100%;         
                }
                .woman-picture {
                    width: 45%;
                    margin: 0 auto;
                }
            } 
            #map {
                @include flexCenter(column,start,center); 
                width: 100%;
                height: fit-content;
                #mapSpace {
                    width: 50%;
                    height: fit-content; 
                    @include flexCenter(row,start,start); 
                }
                #mapInfo {
                    width: 50%;
                    height: fit-content;
                    padding: 10px;
                    border: 1px solid $black;
                    border-radius: 16px;
                    font-size: 25px;
                }
            }
        }
    }
}

/* Estilos para pantallas de escritorio (>1200px de ancho) */
@media screen and (min-width: 1201px) {
    body {
        header {
            nav {
                .web-logo {
                    span {
                        /*Tamaño logo pc*/
                        width: 180px;
                        height: 130px;
                    }
                }
            }  
        }
        main {  
            width: 94%;
            margin: 160px auto 0;
            .woman-data {
                .quote {
                    margin-bottom: 40px;
                }
                .woman-biography {
                    /*Distribución info mujer cada página*/
                    width: 70%;         
                }
                .woman-picture {
                    width: 25%;
                }
            } 
        }
    }
}