@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  /*Fondo del html*/
  background-color: #f6f6f6;
}

body {
  /*Estilo general para todas las cajas*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body header {
  /*Estilos generales para el header de todos los tamaños*/
  background-color: #967aa1;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  top: 0;
  z-index: 1000;
}
body header nav {
  /*Estilos generales para el nav de todos los tamaños*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
body header nav .web-logo span {
  /*Implementación logo con background de un span*/
  display: flex;
  background-image: url("../assets/logo_mujeres_rectangular.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
body header nav div {
  /*Estilos generales del div contenedor de los botones de navegación*/
  padding: 0 8px;
}
body header nav div button {
  /*Estilos generales de los botones de navegación*/
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 12px;
  border: none;
  margin-left: 4px;
  background-color: #f6f6f6;
}
body header nav div button:hover {
  background-color: #192a51;
  color: #f6f6f6;
}
body header nav div .selected {
  background-color: #192a51;
  color: #f6f6f6;
}
body header nav #toggle {
  /*Ocultación del componente que permite el menu hamburguesa con CSS para pantallas que no son mobile*/
  display: none;
}
body header nav label[for=toggle] {
  display: none;
}
body main {
  padding: 10px 20px;
}
body main h1 {
  /*Estilos de todos los titulos de cada página*/
  margin-top: 20px;
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: #192a51;
}
body main h2 {
  /*Estilos de todos los subtitulos de cada página*/
  font-family: "Roboto Mono", monospace;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #967aa1;
}
body main h3 {
  /*Estilos de todos los subtitulos secundarios de cada página*/
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #aaa1c8;
}
body main ul li {
  margin-bottom: 20px; /* Espacio entre cada elemento */
  line-height: 1.6; /* Altura de línea */
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  overflow-wrap: break-word; /*Para que los links no generen un overflow horizontal*/
}
body main ul li strong {
  /* Estilos para los nombres */
  font-weight: bold; /* Negrita */
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  text-align: left;
}
body main p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: justify;
}
body main .introduction {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
body main .introduction img {
  width: 90%;
  margin-bottom: 16px;
}
body main .women-container .gallery-container {
  /*Galeria de mujeres con scroll horizontal*/
  width: 100%;
  height: 360px;
  overflow-x: scroll;
  scroll-behavior: contain;
  scroll-snap-type: x proximity;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
body main .women-container .gallery-container .gallery-item {
  /*Estilos para cuadro de cada mujer*/
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  scroll-snap-align: center;
  width: 270px;
  height: 320px;
  padding: 8px 8px 2px 8px;
  margin: 0 20px;
  border: 8px solid #DAA520; /* Borde dorado para simular cuadro*/
  border-radius: 20px; /*Borde redondeado*/
  text-decoration: none;
  cursor: pointer;
}
body main .women-container .gallery-container .gallery-item span {
  display: flex;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
body main .women-container .gallery-container .gallery-item p {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  color: black;
  background-color: #DAA520;
  padding: 2px 6px;
  border-radius: 8px;
  border: solid 1px black;
}
body main .image-container {
  display: flex;
  justify-content: center;
}
body main .hipatia {
  /*Fotos de cada mujer*/
  background-image: url("../assets/hpatia.jpeg");
}
body main .hipatia_estudiando {
  background-image: url("../assets/hipatia_estudiando.jpg");
}
body main .hipatia_astronoma {
  background-image: url("../assets/hipatia.webp");
}
body main .hipatia_muerte {
  background-image: url("../assets/death-of-philosopher-hypatia-in-alexandria.jpeg");
}
body main .hipatia_legado {
  background-image: url("../assets/Hipatia-de-Alejandria.webp");
}
body main .ada {
  background-image: url("../assets/ada-lovelace.jpg");
}
body main .ada_2 {
  background-image: url("../assets/ada_profesion.jpg");
}
body main .algoritmo {
  background-image: url("../assets/algoritmo.png");
}
body main .marie {
  background-image: url("../assets/marie-lavoisier.jpg");
}
body main .marie_antoine {
  background-image: url("../assets/marie_antoine.jpg");
}
body main .marie_divulgacion {
  background-image: url("../assets/marie_divulgacion.jpg");
}
body main .marie_muerte {
  background-image: url("../assets/marie_muerte.avif");
}
body main .emmy {
  background-image: url("../assets/emmy-noether.jpg");
}
body main .algebra {
  background-image: url("../assets/algebra.jpg");
}
body main .teorema {
  background-image: url("../assets/teorema.jpg");
}
body main .lise {
  background-image: url("../assets/retrato-de-lise-meitner.jpg");
}
body main .lise_explicando {
  background-image: url("../assets/lise_explicando.jpg");
}
body main .lise_experimentando {
  background-image: url("../assets/lise_experimentando.png");
}
body main .lise_otto {
  background-image: url("../assets/lise_otto.jpg");
}
body main .lise_elemento {
  background-image: url("../assets/lise_elemento.jpg");
}
body main .hedy {
  background-image: url("../assets/Hedy_Lamarr.jpg");
}
body main .actriz {
  background-image: url("../assets/actriz.jpg");
}
body main .inventora {
  background-image: url("../assets/inventora.jpeg");
}
body main .estrella {
  background-image: url("../assets/estrella.jpg");
}
body main .doodle {
  background-image: url("../assets/doodle.jpg");
}
body main .katy {
  background-image: url("../assets/Katherine_Johnson.jpg");
}
body main .kathy_estudiando {
  background-image: url("../assets/katherine-johnson.jpeg");
}
body main .kathy_calculando {
  background-image: url("../assets/katherine-johnson-calculando.jpg");
}
body main .kathy_reconocimiento {
  background-image: url("../assets/kathy_medalla.webp");
}
body main .rachel {
  background-image: url("../assets/rachel-carson.webp");
}
body main .rachel_investiga {
  background-image: url("../assets/rachel_investigando.jpg");
}
body main .rachel_estudia {
  background-image: url("../assets/rachel_libros.jpeg");
}
body main .rachel_reconocimiento {
  background-image: url("../assets/rachel_reconocimiento.jpg");
}
body main .rita {
  background-image: url("../assets/rita-levi-montalcini.jpg");
}
body main .rita_investiga {
  background-image: url("../assets/rita-investiga.jpg");
}
body main .rita_inspira {
  background-image: url("../assets/rita-habla.jpg");
}
body main .rita_nobel {
  background-image: url("../assets/rita-premio.jpg");
}
body main .dorothy {
  background-image: url("../assets/D.-C.-Hodgkin2.jpg");
}
body main .dorothy_2 {
  background-image: url("../assets/dorothy2.png");
}
body main .dorothy_3 {
  background-image: url("../assets/Professor_Dorothy_Hodgkin.jpg");
}
body main .dorothy_4 {
  background-image: url("../assets/dorothy-hodgkin-y-stephen-hawkings.jpg");
}
body main .cristalografia {
  background-image: url("../assets/cristalografia.png");
}
body main .alexandra {
  background-image: url("../assets/Alexandra_Olaya-Castro.jpg");
}
body main .alexandra_2 {
  background-image: url("../assets/alexandra_2.jpg");
}
body main .alexandra_3 {
  background-image: url("../assets/alexandra_3.avif");
}
body main .alexandra_premio {
  background-image: url("../assets/premio_alexandra.jpg");
}
body main .alexandra_educacion {
  background-image: url("../assets/alexa_educacion.jpg");
}
body main .woman-data {
  /*Formato de estilos para la pagina de cada mujer*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}
body main .woman-data .quote {
  width: 100%;
  font-size: 22px;
  font-weight: 700;
}
body main .woman-data .quote :nth-child(1) {
  font-family: "Courgette", cursive;
  text-align: center;
}
body main .woman-data .quote :nth-child(2) {
  text-align: center;
}
body main .woman-data .woman-biography p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: justify;
  color: black;
}
body main .woman-data .woman-picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  display: inline-block;
  margin: 0 auto;
}
body main .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border-radius: 16px;
  margin-bottom: 8px;
}
body main .active, body main .accordion:hover {
  background-color: #ccc;
}
body main .accordion:after {
  content: "+";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
body main .active:after {
  content: "−";
}
body main .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
body #map {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
body #map #mapSpace {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
body #map #mapSpace svg {
  position: relative;
  top: -150px;
}
body .country {
  transition: fill 0.2s;
}
body footer {
  /*Estilos del footer*/
  background-color: #aaa1c8;
  padding: 10px 40px;
  font-family: "Roboto", sans-serif;
  color: #192a51;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body footer div {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body footer div a span {
  width: 30px;
  height: 30px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
body footer div a .github {
  background-image: url("../assets/icons/github.png");
}
body footer div a .mail {
  background-image: url("../assets/icons/mail.png");
}
body footer div a .instagram {
  background-image: url("../assets/icons/instagram.png");
}

/*Media queries para los tres breakpints, aquí va lo que requiere estilos extra para la adaptación a cada tamaño*/
/* Estilos para teléfonos celulares en sentido vertical */
@media screen and (max-width: 799px) {
  body header nav {
    transition: left 0.3s ease;
  }
  body header nav .web-logo span {
    /*Tamaño de logo para mobile*/
    width: 120px;
    height: 90px;
  }
  body header nav div {
    /*Estilos de contenedor de botones de navegacion en mobile*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    height: 250px;
    position: fixed;
    right: -320px;
    top: 100px;
    transition: left 0.3s ease;
  }
  body header nav div button {
    width: 100%;
  }
  body header nav label[for=toggle] {
    /*Mecanismo para menu hamburguesa con CSS*/
    display: flex;
    color: #FFF;
    background-color: #000;
    padding: 8px;
    cursor: pointer;
    z-index: 999;
  }
  body header nav #toggle:checked ~ div {
    right: 0;
  }
  body main {
    width: 90%;
    margin: 120px auto 0;
  }
  body main .woman-data .quote {
    margin-bottom: 10px;
  }
  body main .woman-data .woman-biography {
    /*Distribucion de info de cada mujer en su pagina mobile*/
    width: 100%;
  }
  body main .woman-data .woman-picture {
    width: 45%;
    margin: 0 auto;
  }
}
/* Estilos para tabletas o portátiles sencillos (800px - 1200px de ancho) */
@media screen and (min-width: 800px) and (max-width: 1200px) {
  body header nav {
    /*Estilos nav tablet*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
  body header nav .web-logo span {
    /*Tamaño logo tablet*/
    width: 140px;
    height: 110px;
  }
  body header nav div {
    /*Estilos navegacion tablet*/
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    grid-template-rows: repeat(2, auto); /* Dos filas de altura automática */
    gap: 10px; /* Espacio entre los elementos */
  }
  body header nav div button {
    width: 100%;
    height: 45px;
    font-size: 14px;
  }
  body main {
    width: 90%;
    margin: 140px auto 0;
  }
  body main .woman-data .quote {
    margin-bottom: 20px;
  }
  body main .woman-data .woman-biography {
    width: 100%;
  }
  body main .woman-data .woman-picture {
    width: 45%;
    margin: 0 auto;
  }
}
/* Estilos para pantallas de escritorio (>1200px de ancho) */
@media screen and (min-width: 1201px) {
  body header nav .web-logo span {
    /*Tamaño logo pc*/
    width: 180px;
    height: 130px;
  }
  body main {
    width: 94%;
    margin: 160px auto 0;
  }
  body main .woman-data .quote {
    margin-bottom: 40px;
  }
  body main .woman-data .woman-biography {
    /*Distribución info mujer cada página*/
    width: 70%;
  }
  body main .woman-data .woman-picture {
    width: 25%;
  }
}/*# sourceMappingURL=main.css.map */